SuperManCore/Service References/SMSServiceReference/Sms.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="SendSms">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Mobile" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Content" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendSmsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SendSmsResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendSmsResult">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Mobile" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Content" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendSmsResultResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SendSmsResultResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendSmsSaveLog">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="mobile" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="content" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="smsSource" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="supplierID" nillable="true" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="isVoiceSms" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendSmsSaveLogResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SendSmsSaveLogResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendSmsSaveLogNoSign">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="mobile" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="content" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="smsSource" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="supplierID" nillable="true" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="isVoiceSms" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendSmsSaveLogNoSignResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SendSmsSaveLogNoSignResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendSmsSaveLogNew">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="mobile" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="content" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="smsSource" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="supplierID" nillable="true" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="isVoiceSms" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="groupId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendSmsSaveLogNewResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SendSmsSaveLogNewResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendSmsSaveLogB2B">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="mobile" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="content" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="smsSource" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="supplierID" nillable="true" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="groupId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="smsPlatform" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendSmsSaveLogB2BResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SendSmsSaveLogB2BResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSendedSms">
        <s:complexType />
      </s:element>
      <s:element name="GetSendedSmsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSendedSmsResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="VoiceSendSms">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="mobile" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="content" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="smsSource" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="supplierID" nillable="true" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="VoiceSendSmsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="VoiceSendSmsResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendSmsBaseSaveLog">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="mobile" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="content" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="type" type="tns:SmsSendType" />
            <s:element minOccurs="0" maxOccurs="1" name="smsSource" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="supplierID" nillable="true" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:simpleType name="SmsSendType">
        <s:restriction base="s:string">
          <s:enumeration value="亿美软通" />
          <s:enumeration value="营销渠道" />
          <s:enumeration value="天润融通" />
          <s:enumeration value="百分通联" />
          <s:enumeration value="云信" />
          <s:enumeration value="梦网" />
        </s:restriction>
      </s:simpleType>
      <s:element name="SendSmsBaseSaveLogResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SendSmsBaseSaveLogResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendSmsBase">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Mobile" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Content" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="type" type="tns:SmsSendType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendSmsBaseResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SendSmsBaseResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MsgSendSmsSaveLog">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="mobile" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="content" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="type" type="tns:SmsSendType" />
            <s:element minOccurs="0" maxOccurs="1" name="smsSource" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="supplierID" nillable="true" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MsgSendSmsSaveLogResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MsgSendSmsSaveLogResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MsgSendSms">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="mobile" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="content" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MsgSendSmsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MsgSendSmsResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SendSmsSoapIn">
    <wsdl:part name="parameters" element="tns:SendSms" />
  </wsdl:message>
  <wsdl:message name="SendSmsSoapOut">
    <wsdl:part name="parameters" element="tns:SendSmsResponse" />
  </wsdl:message>
  <wsdl:message name="SendSmsResultSoapIn">
    <wsdl:part name="parameters" element="tns:SendSmsResult" />
  </wsdl:message>
  <wsdl:message name="SendSmsResultSoapOut">
    <wsdl:part name="parameters" element="tns:SendSmsResultResponse" />
  </wsdl:message>
  <wsdl:message name="SendSmsSaveLogSoapIn">
    <wsdl:part name="parameters" element="tns:SendSmsSaveLog" />
  </wsdl:message>
  <wsdl:message name="SendSmsSaveLogSoapOut">
    <wsdl:part name="parameters" element="tns:SendSmsSaveLogResponse" />
  </wsdl:message>
  <wsdl:message name="SendSmsSaveLogNoSignSoapIn">
    <wsdl:part name="parameters" element="tns:SendSmsSaveLogNoSign" />
  </wsdl:message>
  <wsdl:message name="SendSmsSaveLogNoSignSoapOut">
    <wsdl:part name="parameters" element="tns:SendSmsSaveLogNoSignResponse" />
  </wsdl:message>
  <wsdl:message name="SendSmsSaveLogNewSoapIn">
    <wsdl:part name="parameters" element="tns:SendSmsSaveLogNew" />
  </wsdl:message>
  <wsdl:message name="SendSmsSaveLogNewSoapOut">
    <wsdl:part name="parameters" element="tns:SendSmsSaveLogNewResponse" />
  </wsdl:message>
  <wsdl:message name="SendSmsSaveLogB2BSoapIn">
    <wsdl:part name="parameters" element="tns:SendSmsSaveLogB2B" />
  </wsdl:message>
  <wsdl:message name="SendSmsSaveLogB2BSoapOut">
    <wsdl:part name="parameters" element="tns:SendSmsSaveLogB2BResponse" />
  </wsdl:message>
  <wsdl:message name="GetSendedSmsSoapIn">
    <wsdl:part name="parameters" element="tns:GetSendedSms" />
  </wsdl:message>
  <wsdl:message name="GetSendedSmsSoapOut">
    <wsdl:part name="parameters" element="tns:GetSendedSmsResponse" />
  </wsdl:message>
  <wsdl:message name="VoiceSendSmsSoapIn">
    <wsdl:part name="parameters" element="tns:VoiceSendSms" />
  </wsdl:message>
  <wsdl:message name="VoiceSendSmsSoapOut">
    <wsdl:part name="parameters" element="tns:VoiceSendSmsResponse" />
  </wsdl:message>
  <wsdl:message name="SendSmsBaseSaveLogSoapIn">
    <wsdl:part name="parameters" element="tns:SendSmsBaseSaveLog" />
  </wsdl:message>
  <wsdl:message name="SendSmsBaseSaveLogSoapOut">
    <wsdl:part name="parameters" element="tns:SendSmsBaseSaveLogResponse" />
  </wsdl:message>
  <wsdl:message name="SendSmsBaseSoapIn">
    <wsdl:part name="parameters" element="tns:SendSmsBase" />
  </wsdl:message>
  <wsdl:message name="SendSmsBaseSoapOut">
    <wsdl:part name="parameters" element="tns:SendSmsBaseResponse" />
  </wsdl:message>
  <wsdl:message name="MsgSendSmsSaveLogSoapIn">
    <wsdl:part name="parameters" element="tns:MsgSendSmsSaveLog" />
  </wsdl:message>
  <wsdl:message name="MsgSendSmsSaveLogSoapOut">
    <wsdl:part name="parameters" element="tns:MsgSendSmsSaveLogResponse" />
  </wsdl:message>
  <wsdl:message name="MsgSendSmsSoapIn">
    <wsdl:part name="parameters" element="tns:MsgSendSms" />
  </wsdl:message>
  <wsdl:message name="MsgSendSmsSoapOut">
    <wsdl:part name="parameters" element="tns:MsgSendSmsResponse" />
  </wsdl:message>
  <wsdl:portType name="SmsSoap">
    <wsdl:operation name="SendSms">
      <wsdl:input message="tns:SendSmsSoapIn" />
      <wsdl:output message="tns:SendSmsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendSmsResult">
      <wsdl:input message="tns:SendSmsResultSoapIn" />
      <wsdl:output message="tns:SendSmsResultSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendSmsSaveLog">
      <wsdl:input message="tns:SendSmsSaveLogSoapIn" />
      <wsdl:output message="tns:SendSmsSaveLogSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendSmsSaveLogNoSign">
      <wsdl:input message="tns:SendSmsSaveLogNoSignSoapIn" />
      <wsdl:output message="tns:SendSmsSaveLogNoSignSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendSmsSaveLogNew">
      <wsdl:input message="tns:SendSmsSaveLogNewSoapIn" />
      <wsdl:output message="tns:SendSmsSaveLogNewSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendSmsSaveLogB2B">
      <wsdl:input message="tns:SendSmsSaveLogB2BSoapIn" />
      <wsdl:output message="tns:SendSmsSaveLogB2BSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSendedSms">
      <wsdl:input message="tns:GetSendedSmsSoapIn" />
      <wsdl:output message="tns:GetSendedSmsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="VoiceSendSms">
      <wsdl:input message="tns:VoiceSendSmsSoapIn" />
      <wsdl:output message="tns:VoiceSendSmsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendSmsBaseSaveLog">
      <wsdl:input message="tns:SendSmsBaseSaveLogSoapIn" />
      <wsdl:output message="tns:SendSmsBaseSaveLogSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendSmsBase">
      <wsdl:input message="tns:SendSmsBaseSoapIn" />
      <wsdl:output message="tns:SendSmsBaseSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="MsgSendSmsSaveLog">
      <wsdl:input message="tns:MsgSendSmsSaveLogSoapIn" />
      <wsdl:output message="tns:MsgSendSmsSaveLogSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="MsgSendSms">
      <wsdl:input message="tns:MsgSendSmsSoapIn" />
      <wsdl:output message="tns:MsgSendSmsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SmsSoap" type="tns:SmsSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SendSms">
      <soap:operation soapAction="http://tempuri.org/SendSms" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendSmsResult">
      <soap:operation soapAction="http://tempuri.org/SendSmsResult" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendSmsSaveLog">
      <soap:operation soapAction="http://tempuri.org/SendSmsSaveLog" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendSmsSaveLogNoSign">
      <soap:operation soapAction="http://tempuri.org/SendSmsSaveLogNoSign" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendSmsSaveLogNew">
      <soap:operation soapAction="http://tempuri.org/SendSmsSaveLogNew" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendSmsSaveLogB2B">
      <soap:operation soapAction="http://tempuri.org/SendSmsSaveLogB2B" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSendedSms">
      <soap:operation soapAction="http://tempuri.org/GetSendedSms" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VoiceSendSms">
      <soap:operation soapAction="http://tempuri.org/VoiceSendSms" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendSmsBaseSaveLog">
      <soap:operation soapAction="http://tempuri.org/SendSmsBaseSaveLog" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendSmsBase">
      <soap:operation soapAction="http://tempuri.org/SendSmsBase" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MsgSendSmsSaveLog">
      <soap:operation soapAction="http://tempuri.org/MsgSendSmsSaveLog" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MsgSendSms">
      <soap:operation soapAction="http://tempuri.org/MsgSendSms" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SmsSoap12" type="tns:SmsSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SendSms">
      <soap12:operation soapAction="http://tempuri.org/SendSms" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendSmsResult">
      <soap12:operation soapAction="http://tempuri.org/SendSmsResult" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendSmsSaveLog">
      <soap12:operation soapAction="http://tempuri.org/SendSmsSaveLog" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendSmsSaveLogNoSign">
      <soap12:operation soapAction="http://tempuri.org/SendSmsSaveLogNoSign" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendSmsSaveLogNew">
      <soap12:operation soapAction="http://tempuri.org/SendSmsSaveLogNew" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendSmsSaveLogB2B">
      <soap12:operation soapAction="http://tempuri.org/SendSmsSaveLogB2B" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSendedSms">
      <soap12:operation soapAction="http://tempuri.org/GetSendedSms" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VoiceSendSms">
      <soap12:operation soapAction="http://tempuri.org/VoiceSendSms" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendSmsBaseSaveLog">
      <soap12:operation soapAction="http://tempuri.org/SendSmsBaseSaveLog" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendSmsBase">
      <soap12:operation soapAction="http://tempuri.org/SendSmsBase" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MsgSendSmsSaveLog">
      <soap12:operation soapAction="http://tempuri.org/MsgSendSmsSaveLog" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MsgSendSms">
      <soap12:operation soapAction="http://tempuri.org/MsgSendSms" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Sms">
    <wsdl:port name="SmsSoap" binding="tns:SmsSoap">
      <soap:address location="http://service.etaoshi.com/sms.asmx" />
    </wsdl:port>
    <wsdl:port name="SmsSoap12" binding="tns:SmsSoap12">
      <soap12:address location="http://service.etaoshi.com/sms.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>